@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-image: url("../public/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    @apply text-white bg-main-black;
  }
}

@layer utilities {
  .bg-gradient-top {
    background: linear-gradient(to top, transparent 0%, #050a18 100%);
  }
  .bg-gradient-bottom {
    background: linear-gradient(to bottom, transparent 0%, #050a18 100%);
  }
}

::-webkit-scrollbar {
  display: none;
}

/* Firefox */

/* Hero Carousel */
.hero-carousel__slides {
  @apply w-full;
}

.swiper-button-prev,
.swiper-button-next {
  @apply !text-white;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  @apply !text-xs md:!text-2xl;
}

.swiper-pagination-bullet-active {
  @apply !bg-white;
}
